<div class="container">

  <h1><%= @booking.gear.sport_type %></h1>
  <p><%= @booking.gear.gear_type %></p>
  <p><%= @booking.gear.description %></p>
  <p>$<%= @booking.gear.price %>/day</p>
  <p><%= @booking.gear.address %></p>

</div>

<% unless @booking.confirmation == true || current_user == @booking.user %>
  <div class="container w-50">
      <%= simple_form_for @booking do |f| %>
    <div class="row">
        <div class="col"> <%= f.input :confirmation %> </div>
    </div>
        <%= f.submit 'Save' %>
      <% end %>
  </div>
<% end %>

<%= link_to 'Cancel Booking', booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?"} %>
