<div class="container">

  <h1><%= @booking.gear.sport_type %></h1>
  <p><%= @booking.gear.gear_type %></p>
  <p><%= @booking.gear.description %></p>
  <p>$<%= @booking.gear.price %>/day</p>
  <p><%= @booking.gear.address %></p>

</div>
