<div class="container">
  <h1>Edit your gear</h1>

    <%= simple_form_for @gear do |f| %>
    <%= f.input :sport_type, placeholder: 'Surf' %>
    <%= f.input :gear_type, placeholder: 'Gloves' %>
    <%= f.input :description %>
    <%= f.input :price, placeholder: '12', label: '$' %>
    <%= f.input :address, placeholder: 'Address' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back to home", root_path %>
</div>
