<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://cdn.shopify.com/s/files/1/0274/7219/articles/BOCK_JSkisShoot_Day2-360.jpg?v=1570118224);">
  <div class="container">
    <h1>No time to waste! <strong>Gear-up</strong> and <strong>have Fun</strong>!</h1>
  </div>
  <form class="row g-3 container w-25 p-3 bg-light rounded position-absolute top-50 end-0 translate-middle-y me-5">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Check-in</label>
      <input type="date" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Check-out</label>
      <input type="date" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputLocation" class="form-label">Location</label>
      <input type="text" class="form-control" id="inputLocation" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
      <label for="inputSport" class="form-label">Sport</label>
      <input type="text" class="form-control" id="inputSport">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>


<div class="container w-75">
  <h1 class="text-center">All our Gears (<%=Gear.count %>)</h1>
  <div class="row">
    <% @gears.each do |gear| %>
    <div class="col d-flex justify-content-center">
      <div class="card shadow mt-3" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= gear.gear_type.capitalize %> for <%= gear.sport_type.capitalize %> in <%= gear.address.capitalize %></h5>
          <p class="card-text"><%= gear.description.capitalize %></p>
          <ul class="list-group-flush list-inline">
            <li class="list-inline-item"><i class="fa-solid fa-euro-sign"></i> <%= gear.price %>/day</li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
