<div class="banner p-1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i2.wp.com/beachmeter.com/wp-content/uploads/2019/09/Best_Beaches_Surfing_.jpg?fit=1070%2C444&ssl=1);">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-9 d-flex flex-row align-items-center" id="title">
      <h1 class="ms-5">No time to waste! <strong>Gear-up</strong> and <strong>have Fun</strong>!</h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 p-3 d-flex flex-row align-items-center">
        <%= form_with url: search_path, method: :get, class: "row g-3 w-100 p-3 bg-light rounded mt-0 ms-0" do %>
          <div class="col-md-6">
            <label class="form-label">Check-in</label>
            <%= date_field_tag :check_in, params[:check_in], class: "form-control", value: Date.today %>
          </div>
          <div class="col-md-6">
            <label class="form-label">Check-out</label>
            <%= date_field_tag :check_out, params[:check_out], class: "form-control", value: Date.today + 3%>
          </div>
          <div class="col-12">
            <label for="inputLocation" class="form-label">Location</label>
            <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Location"%>
          </div>
          <div class="col-md-6">
            <label for="inputSport" class="form-label">Sport</label>
            <%= text_field_tag :sport, params[:sport], class: "form-control", placeholder: "Type of Sport"%>
          </div>
          <div class="col-md-6">
            <label for="inputSport" class="form-label">Gear type</label>
            <%= text_field_tag :gear, params[:gear], class: "form-control", placeholder: "Type of Gear"%>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex">
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>


<div class="container w-75">
  <h1 class="text-center">All our Gears (<%=Gear.count %>)</h1>
  <div class="row justify-content-start g-6">
    <% @gears.each do |gear| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex">
        <div class="card mt-3 card-div" style="width: 18rem;">
          <%= link_to gear_path(gear), class: 'text-decoration-none text-dark' do %>
            <% unless gear.photos.empty? %>
              <%= cl_image_tag gear.photos[0].key, class:'d-block card-img' %>
            <% else %>
              <img class="place-holder-img" src=<%=asset_url("placeholder.png") %>>
            <% end %>

            <div class="box card-body">
              <h5 class="card-title fw-bold"><%= gear.gear_type.capitalize %> for <%= gear.sport_type.capitalize %> in <%= gear.address.capitalize %></h5>
              <p class="card-text"><%= gear.description.capitalize %></p>
              <ul class="list-group-flush list-inline">
                <li class="list-inline-item"><i class="fa-solid fa-dollar-sign"></i> <%= gear.price %>/day</li>
                <li class="list-inline-item"><%= gear.amount %> units</li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
