<div class="container">
  <h1>Creating a new gear offer</h1>
    <p>description of you gear</p>
    <%= simple_form_for @gear do |f| %>
    <%= f.input :sport_type, placeholder: 'Skateboarding' %>
    <%= f.input :gear_type, placeholder: 'Skateboard, shoes...' %>
    <%= f.input :description, placeholder: 'Discribe your product' %>
    <%= f.input :price, placeholder: '12', label: '$' %>
    <%= f.input :amount, placeholder: 'How many gears?' %>
    <%= f.input :address, placeholder: 'Address' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back to Offers", root_path %>
</div>
