<div class="container w-75">
  <h1 class="text-center"><%= @gear.gear_type %></h1>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="card shadow mt-3" style="width: 50rem;">
        <% @gear.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">for <%= @gear.sport_type %></h5>
          <p class="card-text"><%= @gear.description %></p>
          <ul class="list-group-flush list-inline">
            <li class="list-inline-item"><i class="fa-solid fa-euro-sign"></i> <%=@gear.price %>/day</li>
            <li class="list-inline-item"><%= @gear.amount %> units</li>
          </ul>
          <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_gear_path(@gear) %>
          <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, gear_path(@gear), class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete"}%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container w-50">
    <%= simple_form_for [@gear, @booking] do |f| %>
  <div class="row">
      <div class="col"> <%= f.input :check_in %> </div>
      <div class="col"> <%= f.input :check_out %> </div>
  </div>
      <%= f.submit %>
    <% end %>
</div>
