<div class="container" style="padding-top: 20px;">
  <div class="card-product-s">
    <div class="col-4">
      <div id="carouselExampleControls" class="carousel slide w-100"  data-bs-ride="carousel">
        <div class="carousel-inner">
          <%@gear.photos.each_with_index do |photo,index|%>
            <%if index == 0%>
                  <div class="carousel-item active">
                    <%= cl_image_tag photo.key, class:'d-block w-100' %>
                  </div>
                <%else%>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, class:'d-block w-100' %>
                  </div>
                <%end%>
            <%end%>
        </div>
      </div>
    </div>
    <div class="card-product-infos-s">
    <h1><%=@gear.gear_type%>
      <h2>For <%= @gear.sport_type %></h2>
      <p>Description: <%= @gear.description %></p>
      <p>Price: <%= @gear.price %>$/per day</p>
      <p>Amount: <%= @gear.amount %></p>
      <p>Owner: <%=@gear.user.first_name%> <%= @gear.user.last_name%></p>
    </div>
  </div>
  <div class="container my-shadow bg-white mt-3 p-3 w-50 text-center">
      <%= simple_form_for [@gear, @booking] do |f| %>
        <div class="row">
          <div class="col-md-12 col-lg-6"> <%= f.input :check_in %> </div>
          <div class="col-md-12 col-lg-6"> <%= f.input :check_out %> </div>
        </div>
        <%= f.submit "Send booking request", class: "btn btn-primary btn-block" %>
      <% end %>
  </div>
</div>
